[Desktop Entry]
Name=Link to Create LCC labels from external file - TeX - LaTeX Stack Exchange
Type=Link
URL=https://tex.stackexchange.com/questions/444364/create-lcc-labels-from-external-file
Icon=text-html
